flow/weather-demo.json
[{"id":"d4077681.2bc6d8","type":"function","z":"1fc47902.48fcf7","name":"same Id check","func":"var payload = JSON.parse(msg.payload);  // for MQTT\n//console.log(\"payload type: \"+typeof(payload ));        //JSON Object\n//console.log(\"msg.payload type: \"+typeof(msg.payload));//Message string\n\nif(!context.global.Ids){\n    context.global.Ids = {};\n}\n\n//Get element\nvar mId   = payload.id;\nvar mData = payload.data;\nvar mType = mData.substring(0,4);\nvar mRecv = payload.recv;\nvar mMac  = payload.macAddr;\n\n\nif(mType === 'aa01' || mType === 'aa02'){\n    var id = '';\n\n    if(context.global.Ids[mType]){\n        id = context.global.Ids[mType];\n    }\n    \n    node.warn('id :'+mId +' , check id :'+id);\n    \n    //Find same id than reject\n    if(id === '' || mId != id){\n        context.global.Ids[mType] = mId;\n    }else{\n        return;\n    }\n    \n    msg.payload = {mac:mMac,data:mData,recv:mRecv,type:mType};\n    node.warn(JSON.stringify(msg.payload));\n    \n    return msg;\n}else{\n    return;\n}\n\n\n","outputs":1,"noerr":0,"x":133.42859649658203,"y":174,"wires":[["d227edd5.c383f"]]},{"id":"44e66745.f1ac18","type":"mqtt in","z":"1fc47902.48fcf7","name":"MQTT_200000166","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"fa4e14fd.b668f8","x":121.42859649658203,"y":75,"wires":[["d4077681.2bc6d8","c6fd380b.9b25e8"]]},{"id":"39f9949d.279bac","type":"function","z":"1fc47902.48fcf7","name":"tempature","func":"\nmsg= {payload:msg.payload.information.temperature};\n\nreturn msg;","outputs":"1","noerr":0,"x":828.4285659790039,"y":346.0000305175781,"wires":[["c1ef84bc.f541b8","6e478a64.9c7e74"]]},{"id":"c1ef84bc.f541b8","type":"ui_gauge","z":"1fc47902.48fcf7","name":"溫度表","group":"8c973d89.4ee29","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"度","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1037.4285049438477,"y":302,"wires":[]},{"id":"6e478a64.9c7e74","type":"ui_chart","z":"1fc47902.48fcf7","name":"線性圖","group":"8c973d89.4ee29","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1033.428565979004,"y":341.00001525878906,"wires":[[],[]]},{"id":"ebb5d38c.c55ec","type":"function","z":"1fc47902.48fcf7","name":"humidity","func":"\nmsg= {payload:msg.payload.information.humidity};\n\nreturn msg;","outputs":"1","noerr":0,"x":828.428596496582,"y":460,"wires":[["9ff96adc.1605f8","d28546b9.003338"]]},{"id":"d28546b9.003338","type":"ui_gauge","z":"1fc47902.48fcf7","name":"濕度表","group":"d06c3ab5.227008","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1035.428565979004,"y":417,"wires":[]},{"id":"9ff96adc.1605f8","type":"ui_chart","z":"1fc47902.48fcf7","name":"濕度線性圖","group":"d06c3ab5.227008","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1047.428596496582,"y":462,"wires":[[],[]]},{"id":"c6fd380b.9b25e8","type":"debug","z":"1fc47902.48fcf7","name":"","active":true,"console":"false","complete":"payload","x":378.4285659790039,"y":75,"wires":[]},{"id":"b643e24f.ddd4","type":"function","z":"1fc47902.48fcf7","name":"presure","func":"\nmsg= {payload:msg.payload.information.pressure};\n\nreturn msg;","outputs":"1","noerr":0,"x":829.324348449707,"y":134.2222137451172,"wires":[["f1f7fae0.76b868","6ceebf34.76b38"]]},{"id":"bb09d7a8.aeb9f8","type":"function","z":"1fc47902.48fcf7","name":"light","func":"\nmsg= {payload:msg.payload.information.light};\n\nreturn msg;","outputs":"1","noerr":0,"x":824.324348449707,"y":254.22219848632812,"wires":[["f3c7c8d6.3fbd18","e10988b4.e09948"]]},{"id":"a8729739.e1c6e8","type":"function","z":"1fc47902.48fcf7","name":"uv","func":"\nmsg= {payload:msg.payload.information.uv};\n\nreturn msg;","outputs":"1","noerr":0,"x":826.7529430389404,"y":588.2222537994385,"wires":[["73d67886.2fe638","2ba8a036.ff367"]]},{"id":"6508b1cf.28cc6","type":"function","z":"1fc47902.48fcf7","name":"rain","func":"\nmsg= {payload:msg.payload.information.rain};\n\nreturn msg;","outputs":"1","noerr":0,"x":825.1814765930176,"y":721.222188949585,"wires":[["b0b3c2b.704494","d6e9a1f8.0d78e"]]},{"id":"d227edd5.c383f","type":"switch","z":"1fc47902.48fcf7","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"aa01","vt":"str"},{"t":"eq","v":"aa02","vt":"str"}],"checkall":"true","outputs":2,"x":185.17859649658203,"y":498.15625,"wires":[["448de0c8.dead8"],["a879a2b1.141f7"]]},{"id":"448de0c8.dead8","type":"function","z":"1fc47902.48fcf7","name":"aa01 parse","func":"\n\nvar payload = msg.payload;\nvar raw = payload.data;\nvar ret = getData(raw);\nnode.warn(\"aa01 parse :\"+ JSON.stringify(ret)); \nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getData(raw) {\n\n    if (raw.length !== 22)  {\n      throw Error('Not a aa01 data');\n    }\n    var mPressure = parseInt(raw.substring(6,10),16);       //氣壓\n    var mHight = parseInt(raw.substring(10,14),16);    　   //高度\n    var mTemperature = parseInt(raw.substring(14,16),16);   //溫度\n    var mHumidity = parseInt(raw.substring(16,18),16);      //濕度\n    var mLight = parseInt(raw.substring(18,22),16);         //照明  \n\n    var ret = {\n        pressure    : mPressure,\n        temperature : mTemperature,\n        humidity    : mHumidity,\n        light       : mLight\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":355.18640899658203,"y":352.3828125,"wires":[["b643e24f.ddd4","bb09d7a8.aeb9f8","39f9949d.279bac","ebb5d38c.c55ec"]]},{"id":"a879a2b1.141f7","type":"function","z":"1fc47902.48fcf7","name":"aa02 parse","func":"\nvar payload = msg.payload;\nvar raw = payload.data;\nvar ret = getData(raw);\nnode.warn(\"aa02 parse :\"+ JSON.stringify(ret)); \nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getData(raw) {\n\n    if (raw.length !== 14)  {\n      throw Error('Not a aa02 data');\n    }\n\n    var mUV = parseInt(raw.substring(6,10),16);            //紫外線\n    var mRain = 1023-parseInt(raw.substring(10,14),16);         //雨滴\n\n    var ret = {\n        uv    : mUV,\n        rain  : mRain\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":360.79358291625977,"y":593.9519987106323,"wires":[["a8729739.e1c6e8","6508b1cf.28cc6"]]},{"id":"f1f7fae0.76b868","type":"ui_gauge","z":"1fc47902.48fcf7","name":"壓力表","group":"607d9824.ddbc78","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"mb","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1042.9364013671875,"y":95.5234375,"wires":[]},{"id":"6ceebf34.76b38","type":"ui_chart","z":"1fc47902.48fcf7","name":"線性圖","group":"607d9824.ddbc78","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"950","ymax":"1100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1036.9364700317383,"y":136.52345275878906,"wires":[[],[]]},{"id":"f3c7c8d6.3fbd18","type":"ui_gauge","z":"1fc47902.48fcf7","name":"照明表","group":"1214bb7f.7e2345","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"x":1038.9364700317383,"y":212.5234375,"wires":[]},{"id":"e10988b4.e09948","type":"ui_chart","z":"1fc47902.48fcf7","name":"照明線性圖","group":"1214bb7f.7e2345","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1050.9365005493164,"y":257.5234375,"wires":[[],[]]},{"id":"73d67886.2fe638","type":"ui_gauge","z":"1fc47902.48fcf7","name":"UV表","group":"c37135f8.f805b8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1042.6577758789062,"y":556.6824932098389,"wires":[]},{"id":"2ba8a036.ff367","type":"ui_chart","z":"1fc47902.48fcf7","name":"UV線性圖","group":"c37135f8.f805b8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1041.5149154663086,"y":621.3968124389648,"wires":[[],[]]},{"id":"b0b3c2b.704494","type":"ui_gauge","z":"1fc47902.48fcf7","name":"雨滴表","group":"3825b40e.94788c","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1030.6577835083008,"y":723.111083984375,"wires":[]},{"id":"d6e9a1f8.0d78e","type":"ui_chart","z":"1fc47902.48fcf7","name":"雨滴線性圖","group":"3825b40e.94788c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1042.657814025879,"y":768.111083984375,"wires":[[],[]]},{"id":"fa4e14fd.b668f8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service9","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8c973d89.4ee29","type":"ui_group","z":"","name":"溫度","tab":"48c87cde.c5ae54","order":1,"disp":true,"width":"6"},{"id":"d06c3ab5.227008","type":"ui_group","z":"","name":"溼度","tab":"48c87cde.c5ae54","order":2,"disp":true,"width":"6"},{"id":"607d9824.ddbc78","type":"ui_group","z":"","name":"壓力","tab":"48c87cde.c5ae54","order":5,"disp":true,"width":"6"},{"id":"1214bb7f.7e2345","type":"ui_group","z":"","name":"照明","tab":"48c87cde.c5ae54","order":4,"disp":true,"width":"6"},{"id":"c37135f8.f805b8","type":"ui_group","z":"","name":"UV","tab":"48c87cde.c5ae54","order":3,"disp":true,"width":"6"},{"id":"3825b40e.94788c","type":"ui_group","z":"","name":"雨滴","tab":"48c87cde.c5ae54","order":6,"disp":true,"width":"6"},{"id":"48c87cde.c5ae54","type":"ui_tab","z":"","name":"微型氣象站","icon":"dashboard","order":1}]