public/flow/mqtt_chart.json
[{"id":"f28aa50f.c3a368","type":"debug","z":"3ec0f0a5.de38c","name":"","active":true,"console":"false","complete":"payload","x":288,"y":40,"wires":[]},{"id":"4429bb1f.5a0704","type":"function","z":"3ec0f0a5.de38c","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":132.375,"y":105.38671875,"wires":[["27632b08.2b9544"]]},{"id":"26edaff.136925","type":"inject","z":"3ec0f0a5.de38c","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":108.37890625,"y":232.19140625,"wires":[["b673fa4e.486bc8"]]},{"id":"b673fa4e.486bc8","type":"function","z":"3ec0f0a5.de38c","name":"Save finalList to file","func":"var msgTools = context.global.msgTools;\nvar list = msgTools.getFinalList();\n//node.warn('list :'+JSON.stringify(list));\nmsgTools.saveFinalListToFile();\nreturn msg;","outputs":1,"noerr":0,"x":331.3828125,"y":232.37889862060547,"wires":[[]]},{"id":"ff1f005e.21a7c","type":"comment","z":"3ec0f0a5.de38c","name":"Auto save finalList to file per 5 minutes","info":"","x":170.375,"y":188.83203125,"wires":[]},{"id":"27632b08.2b9544","type":"function","z":"3ec0f0a5.de38c","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":346.37884521484375,"y":105.88671875,"wires":[["cd58075a.08ed58","e1460396.663fe8","a22ed0ec.777fe"]]},{"id":"cd58075a.08ed58","type":"debug","z":"3ec0f0a5.de38c","name":"","active":true,"console":"false","complete":"payload","x":550.3828125,"y":26.53515625,"wires":[]},{"id":"73f8316f.ad0578","type":"mqtt in","z":"3ec0f0a5.de38c","name":"MQTT sub","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"de8bcbcf.4b46b8","x":111,"y":39.5,"wires":[["f28aa50f.c3a368","4429bb1f.5a0704"]]},{"id":"e1460396.663fe8","type":"function","z":"3ec0f0a5.de38c","name":"temperature","func":"var maxNum = 30;  \nvar minNum = 20;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":555,"y":103.5,"wires":[["7a56717e.8b78e","4629805f.90ce9"]]},{"id":"a22ed0ec.777fe","type":"function","z":"3ec0f0a5.de38c","name":"humidity","func":"var maxNum = 70;  \nvar minNum = 60;  \nvar n = Math.floor(Math.random() * (maxNum - minNum + 1)) + minNum;  \nmsg.payload = n;\nreturn msg;","outputs":1,"noerr":0,"x":546,"y":152,"wires":[["e72bb81d.f5c2e8","a1d31385.3686a"]]},{"id":"7a56717e.8b78e","type":"ui_gauge","z":"3ec0f0a5.de38c","name":"溫度","group":"aa3305b8.2921","order":1,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":707,"y":82,"wires":[]},{"id":"4629805f.90ce9","type":"ui_chart","z":"3ec0f0a5.de38c","name":"","group":"aa3305b8.2921","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":708,"y":125,"wires":[[],[]]},{"id":"e72bb81d.f5c2e8","type":"ui_gauge","z":"3ec0f0a5.de38c","name":"濕度","group":"b3d3fac9.5b91b8","order":3,"width":0,"height":0,"gtype":"gage","title":"溫度","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":705,"y":171,"wires":[]},{"id":"a1d31385.3686a","type":"ui_chart","z":"3ec0f0a5.de38c","name":"","group":"b3d3fac9.5b91b8","order":4,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":706,"y":214,"wires":[[],[]]},{"id":"ea484dcc.bdf72","type":"inject","z":"3ec0f0a5.de38c","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":368.99998474121094,"y":327.5,"wires":[["e1460396.663fe8","a22ed0ec.777fe"]]},{"id":"de8bcbcf.4b46b8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"aa3305b8.2921","type":"ui_group","z":"","name":"溫度","tab":"82748b39.d5c7b8","order":1,"disp":true,"width":"7"},{"id":"b3d3fac9.5b91b8","type":"ui_group","z":"","name":"濕度","tab":"82748b39.d5c7b8","order":2,"disp":true,"width":"7"},{"id":"82748b39.d5c7b8","type":"ui_tab","z":"","name":"溫濕度","icon":"dashboard","order":1}]