public/flow/mqtt_all.json
[{"id":"a5fc5209.4d405","type":"mqtt in","z":"3ec0f0a5.de38c","name":"AP Mqtt  message","topic":"GIOT-GW/UL/+","qos":"2","broker":"de8bcbcf.4b46b8","x":94,"y":333,"wires":[[]]},{"id":"f28aa50f.c3a368","type":"debug","z":"3ec0f0a5.de38c","name":"","active":false,"console":"false","complete":"payload","x":288,"y":40,"wires":[]},{"id":"4429bb1f.5a0704","type":"function","z":"3ec0f0a5.de38c","name":"parse message","func":"var msgTools = context.global.msgTools;\n//var test = [{\"channel\":925125000, \"sf\":10, \"time\":\"2017-02-17T04:35:47\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-128.8, \"snr\":-14.8, \"snr_max\":-11.5, \"snr_min\":-18.5, \"macAddr\":\"0000000004000888\", \"data\":\"fc000001006c000989\", \"frameCnt\":4933, \"fport\":2}];\n//var parseData = msgTools.parseMsg(test) ;\nvar parseData = msgTools.parseMsg( JSON.parse(msg.payload));\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    //node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":184.375,"y":95.38671875,"wires":[["27632b08.2b9544"]]},{"id":"26edaff.136925","type":"inject","z":"3ec0f0a5.de38c","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":108.37890625,"y":232.19140625,"wires":[["b673fa4e.486bc8"]]},{"id":"b673fa4e.486bc8","type":"function","z":"3ec0f0a5.de38c","name":"Save finalList to file","func":"var msgTools = context.global.msgTools;\nvar list = msgTools.getFinalList();\n//node.warn('list :'+JSON.stringify(list));\nmsgTools.saveFinalListToFile();\nreturn msg;","outputs":1,"noerr":0,"x":331.3828125,"y":232.37889862060547,"wires":[[]]},{"id":"ff1f005e.21a7c","type":"comment","z":"3ec0f0a5.de38c","name":"Auto save finalList to file per 5 minutes","info":"","x":170.375,"y":188.83203125,"wires":[]},{"id":"27632b08.2b9544","type":"function","z":"3ec0f0a5.de38c","name":"Save message to  DB","func":"var deviceDbTools = context.global.deviceDbTools;\nvar obj = msg.payload;\nvar debug = false;\n//node.warn('final payload : \\n'+JSON.stringify(obj));\ndeviceDbTools.saveDeviceMsg(obj,function(err,info){\n    if(err){\n        node.error(\"Error\");\n    }else if(debug){\n        deviceDbTools.findLastDeviceByMac(obj.mac,function(err,device){\n    \t\tif(err){\n    \t\t\tnode.warn(err);\n    \t\t}\n    \t\tif(debug){\n    \t\t\tnode.warn('new device : \\n'+device);\n    \t\t}\n    \t});\n    }\n}); \nreturn msg;","outputs":1,"noerr":0,"x":425.37884521484375,"y":95.88671875,"wires":[["cd58075a.08ed58"]]},{"id":"cd58075a.08ed58","type":"debug","z":"3ec0f0a5.de38c","name":"","active":false,"console":"false","complete":"false","x":645.3828125,"y":98.53515625,"wires":[]},{"id":"73f8316f.ad0578","type":"mqtt in","z":"3ec0f0a5.de38c","name":"MQTT sub","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"de8bcbcf.4b46b8","x":111,"y":39.5,"wires":[["f28aa50f.c3a368","4429bb1f.5a0704"]]},{"id":"de8bcbcf.4b46b8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]