public/flow/tools_page.json
[{"id":"26c3320b.a35ade","type":"websocket in","z":"9e7fde3b.e075c","name":"web socket tools - in","server":"c254379c.e1ed08","client":"","x":139,"y":321,"wires":[["7b165a7c.25eb14"]]},{"id":"7b165a7c.25eb14","type":"function","z":"9e7fde3b.e075c","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\nnode.warn('obj.id :'+obj.id);\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    \n    msg.payload = {id:\"init_end\", v: 'conn_ok' };\n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.payload=obj.v; \n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":376,"y":320.99999237060547,"wires":[["70618b71.c974d4"],["9337eb89.423e28"]]},{"id":"9337eb89.423e28","type":"function","z":"9e7fde3b.e075c","name":"Get Device Information","func":"var mType = msg.payload;\nvar overtime = 1;\nnode.warn('mType :'+mType+', overtime :'+overtime);\nif(mType==='pir'){\n    overtime = 6;\n} else if(mType==='flood'){\n    overtime = 8;\n}\n//node.warn('mType :'+mType+', overtime :'+overtime);\nvar mObj=context.global.devices[mType]; \nvar day = 24*60*60*1000;\nvar hour = 60*60*1000;\nvar mTimestamp = new Date().getTime();\nvar mItem = 1;\n\nvar connection_ok = \"<img src='/icons/connection_ok.png' width='30' height='30' name='status'>\";\nvar connection_fail = \"<img src='/icons/connection_fail.png' width='30' height='30' name='status'>\";\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var mac in mObj)\n{\n  console.log( mac + ': ' + (mObj[mac].timestamp)/day );\n \n  array.push(getArray(mObj[mac],mItem));\n  mItem++;\n}\n\nfunction getArray(obj,item){\n    \n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.mac);\n    arr.push(obj.recv);\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    console.log('(mTimestamp :'+mTimestamp);\n    console.log('(obj.timestamp :'+obj.timestamp);\n    console.log('(mTimestamp :'+mTimestamp);\n    console.log((mTimestamp-obj.timestamp)/hour);\n    if( ((mTimestamp-obj.timestamp)/hour)> overtime  ){\n        arr.push(connection_fail);\n        //console.log('overtime = true');\n    }else{\n        arr.push(connection_ok);\n        //console.log('overtime = false');\n    }\n    //console.log('arr = '+JSON.stringify(arr));\n    return arr;\n}\n\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    dataString = null;\n}\nmsg.payload = {id:\"change_table\", v: dataString,type: mType}; \n\nreturn msg;","outputs":1,"noerr":0,"x":590.9999694824219,"y":382.99999237060547,"wires":[["70618b71.c974d4"]]},{"id":"70618b71.c974d4","type":"websocket out","z":"9e7fde3b.e075c","name":"web socket mobiUI - out","server":"c254379c.e1ed08","client":"","x":762.9999694824219,"y":314.99999237060547,"wires":[]},{"id":"99470d78.bd33d","type":"comment","z":"9e7fde3b.e075c","name":"Listen /tools","info":"","x":122,"y":79,"wires":[]},{"id":"758d7d95.93c764","type":"comment","z":"9e7fde3b.e075c","name":"Listen /ws/tools","info":"","x":134,"y":280,"wires":[]},{"id":"d6b197d.7c0f568","type":"function","z":"9e7fde3b.e075c","name":"pir mustache","func":"var msgTools = context.global.msgTools;\n\nvar array = [];\nvar hour = 60*60*1000;\nvar day = 24*hour;\n\n//var mTimestamp = new Date(\"2016-12-24\").getTime();\nvar mTimestamp = new Date().getTime();\n\nvar mObj = msgTools.getFinalList();\n\nnode.warn( 'Last Device Information \\n '+JSON.stringify( mObj));\nnode.warn( 'mTimestamp : '+mTimestamp);\n\nvar mItem = 1;\nfor (var mac in mObj)\n{\n  node.warn( mac + ': type' + typeof(mObj[mac]));\n  node.warn( mac + ': ' + (mObj[mac].timestamp)/day );\n  if( ((mTimestamp-mObj[mac].timestamp)/hour)>1  ){\n      mObj[mac].overtime = true;\n      //console.log('overtime = true');\n  }\n  //console.log( mac + ': ' + JSON.stringify(mObj[mac]) );\n  if(mItem<10){\n      mObj[mac].item = '0'+mItem;\n  }else{\n       mObj[mac].item = mItem.toString();\n  }\n \n  array.push(mObj[mac]);\n  mItem++;\n}\n\nmsg.payload = JSON.stringify(array);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":296.99998474121094,"y":122.99998474121094,"wires":[["5ff21a11.0a6834","c9cba476.c1d378"]]},{"id":"c9cba476.c1d378","type":"json","z":"9e7fde3b.e075c","name":"","x":516.9998779296875,"y":121,"wires":[["a32dea7d.6e4268"]]},{"id":"2733e0d1.e2c97","type":"http in","z":"9e7fde3b.e075c","name":"tools","url":"/tools","method":"get","swaggerDoc":"","x":100,"y":121,"wires":[["d6b197d.7c0f568","c5408c51.6857b"]]},{"id":"a32dea7d.6e4268","type":"template","z":"9e7fde3b.e075c","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head>\n    <meta charset=\"utf-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Free Bootstrap Admin Template : Binary Admin</title>\n  <!-- BOOTSTRAP STYLES-->\n    <link href=\"css/bootstrap.min.css\" rel=\"stylesheet\">\n    <!-- FONTAWESOME STYLES-->\n    <link href=\"vendor/font-awesome/css/font-awesome.css\" rel=\"stylesheet\" />\n    <!-- CUSTOM STYLES-->\n    <link href=\"css/custom.css\" rel=\"stylesheet\" />\n    <!-- GOOGLE FONTS-->\n    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />\n    <!-- jquery.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/media/css/jquery.dataTables.min.css\" rel=\"stylesheet\">\n    <!-- button.dataTables-->\n    <link href=\"vendor/DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.min.css\" rel=\"stylesheet\">\n    <!--  JSCal2-1.7-->\n    <link href=\"/vendor/JSCal2-1.7/css/jscal2.css\" type=\"text/css\" rel=\"stylesheet\"/>\n    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->\n    <!-- JQUERY SCRIPTS -->\n    <script src=\"js/jquery-1.12.4.js\"></script>\n      <!-- BOOTSTRAP SCRIPTS -->\n    <script src=\"js/bootstrap.min.js\"></script>\n    <!-- METISMENU SCRIPTS -->\n    <script src=\"js/jquery.metisMenu.js\"></script>\n      <!-- CUSTOM SCRIPTS -->\n    <script src=\"js/custom.js\"></script>\n    <!-- JQUERY DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/media/js/jquery.dataTables.min.js\"></script>\n    <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.min.js\"></script>\n     <!-- Button DataTables-->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.flash.min.js\"></script>\n    <!-- JZIP -->\n    <script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\jszip.min.js\"></script>\n    <!-- PDF MAKE -->\n    <script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\pdfmake.min.js\"></script>\n    <!-- VFS FONT -->\n    <script type=\"text/javascript\" src=\"vendor\\DataTables-1.10.13\\vfs_fonts.js\"></script>\n    <!-- BUTTON HTML5 -->\n    <script type=\"text/javascript\" src=\"/js/bootstrap-waitingfor.min.js\"></script>\n    <!-- WAITING DIALOG -->\n    <script type=\"text/javascript\" src=\"vendor/DataTables-1.10.13/extensions/Buttons/js/buttons.html5.min.js\"></script>\n    <!--<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>-->\n    <!--  JSCal2-1.7-->\n    <script type=\"text/javascript\" src=\"/vendor/JSCal2-1.7/js/jscal2.js\"></script>\n    <script type=\"text/javascript\" src=\"/vendor/JSCal2-1.7/js/lang/b5.js\"></script>\n    <!-- Self-define -->\n    <script type=\"text/javascript\" src=\"js/myIndex.js\" ></script>\n</head>\n<body>\n    <div id=\"wrapper\">\n        <nav class=\"navbar navbar-default navbar-cls-top \" role=\"navigation\" style=\"margin-bottom: 0\">\n            <div class=\"navbar-header\">\n                <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".sidebar-collapse\">\n                    <span class=\"sr-only\">Toggle navigation</span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                    <span class=\"icon-bar\"></span>\n                </button>\n                <a class=\"navbar-brand\" href=\"index.html\">Test Tools</a>\n            <!--</div>\n  <div style=\"color: white;\npadding: 15px 50px 5px 50px;\nfloat: right;\nfont-size: 16px;\"> Last access : 30 May 2014 &nbsp; <a href=\"#\" class=\"btn btn-danger square-btn-adjust\">Logout</a> </div>-->\n        </nav>\n           <!-- /. NAV TOP  -->\n                <nav class=\"navbar-default navbar-side\" role=\"navigation\">\n            <div class=\"sidebar-collapse\">\n                <ul class=\"nav\" id=\"main-menu\">\n                    <li class=\"text-center\">\n                        <img src=\"images/iot.jpg\" class=\"user-image img-responsive\"/>\n                    </li>\n\n                    <li >\n                        <a class=\"active-menu\" href=\"/\"><i class=\"fa fa-dashboard fa-3x\"></i> 首頁</a>\n                    </li>\n                    <li>\n                        <a  href=\"/update\"><i class=\"fa fa-desktop fa-3x\"></i> 更新</a></li>\n                    </li>\n                    <li>\n                      <a  href=\"/find\"><i class=\"fa fa-qrcode fa-3x\"></i> 查詢</a>\n                    </li>\n                </ul>\n            </div>\n        </nav>\n        <!-- /. NAV SIDE  -->\n        <div id=\"page-wrapper\" >\n            <div id=\"page-inner\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n\n                      <table id=\"table1\"  class=\"display\" cellspacing=\"0\" width=\"100%\">\n                          <thead>\n                              <tr style=\"color:#428bca\">\n                                <th>Item</th>\n                                <th>MAC</th>\n                                <th>Last Repor</th>\n                                <th>UL Rss/SNR</th>\n                                <th>Status</th>\n                              </tr>\n                          </thead>\n                          <tbody>\n                             {{#payload}}\n                              <tr>\n                                <td>{{{item}}}</td>\n                                <td>{{{mac}}}</td>\n                                <td>{{{recv}}}</td>\n                                <td>{{{rssi}}}/{{{snr}}}</td>\n\n                                <td>\n                                {{#overtime}}\n                                <img src=\"/icons/connection_fail.png\" width=\"ˇ30\" height=\"30\" name=\"status\">\n                                {{/overtime}}\n                                {{^overtime}}\n                                 <img src=\"/icons/connection_ok.png\" width=\"30\" height=\"30\" name=\"status\">\n                                {{/overtime}}\n                                </td>\n                              </tr>\n                              {{/payload}}\n                          </tbody>\n                      </table>\n                    </div>\n\n                    </div>\n          </div>\n          <!-- /. ROW  -->\n        </div>\n        <!-- /. PAGE INNER  -->\n      </div>\n      <!-- /. PAGE WRAPPER  -->\n    </div>\n    <!-- /. WRAPPER  -->\n\n</body>\n</html>\n","x":657.0000305175781,"y":120.99998474121094,"wires":[["f8ddfafb.3afc78"]]},{"id":"f8ddfafb.3afc78","type":"http response","z":"9e7fde3b.e075c","name":"","x":791.0000915527344,"y":120.99999237060547,"wires":[]},{"id":"5ff21a11.0a6834","type":"debug","z":"9e7fde3b.e075c","name":"","active":false,"console":"false","complete":"false","x":535.0000305175781,"y":181.99999237060547,"wires":[]},{"id":"ba4a94a.7c9f468","type":"comment","z":"9e7fde3b.e075c","name":"Final List is exist","info":"","x":618.0000305175781,"y":76,"wires":[]},{"id":"c5408c51.6857b","type":"debug","z":"9e7fde3b.e075c","name":"","active":false,"console":"false","complete":"false","x":303.5,"y":185.33333587646484,"wires":[]},{"id":"c254379c.e1ed08","type":"websocket-listener","z":"","path":"/ws/tools","wholemsg":"false"}]