public/flow/ws_index.json
[{"id":"668340d5.929d6","type":"websocket in","z":"33e2099.ff8c7f6","name":"web socket tools - in","server":"c0df8bf2.57c2d8","client":"","x":135,"y":300,"wires":[["63bad5f5.5a229c"]]},{"id":"27a4b1b4.57081e","type":"comment","z":"33e2099.ff8c7f6","name":"Listen /ws/tools","info":"","x":115,"y":260,"wires":[]},{"id":"63bad5f5.5a229c","type":"function","z":"33e2099.ff8c7f6","name":"Check WS Message","func":"var obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    if(context.global.selectedType){\n\t    msg.payload = {id:\"init_btn\", v: context.global.selectedType };\n    }else{\n        msg.payload = {id:\"init_btn\", v: \"pir\" };\n    }\n\treturn [msg,null];\n}else if(obj.id==\"change_type\"){\n\tcontext.global.selectedType=obj.v;\n\tmsg.payload=obj.v; \n\treturn [null,msg];\n}\n","outputs":"2","noerr":0,"x":425,"y":280,"wires":[["543922e2.37951c"],["4b72875c.bc77c8"]]},{"id":"4b72875c.bc77c8","type":"function","z":"33e2099.ff8c7f6","name":"Get Device Information","func":"var mType = msg.payload;\nvar mObj=context.global.devices[mType]; \nvar day = 24*60*60*1000;\nvar hour = 60*60*1000;\nvar mTimestamp = new Date().getTime();\nvar mItem = 1;\n\nvar connection_ok = \"<img src='/icons/connection_ok.png' width='30' height='30' name='status'>\";\nvar connection_fail = \"<img src='/icons/connection_fail.png' width='30' height='30' name='status'>\";\nvar array = [];\n//console.log( 'Last Device Information \\n '+JSON.stringify( mObj));\n\nfor (var mac in mObj)\n{\n  console.log( mac + ': ' + (mObj[mac].timestamp)/day );\n \n  array.push(getArray(mObj[mac],mItem));\n  mItem++;\n}\n\nfunction getArray(obj,item){\n    \n    var arr = [];\n    if(item<10){\n        arr.push('0'+item);\n    }else{\n        arr.push(item.toString());\n    }\n    \n    arr.push(obj.mac);\n    arr.push(obj.recv);\n    arr.push(obj.rssi+\"/\"+obj.snr);\n    console.log('(mTimestamp :'+mTimestamp);\n    console.log('(obj.timestamp :'+obj.timestamp);\n    console.log('(mTimestamp :'+mTimestamp);\n    console.log((mTimestamp-obj.timestamp)/hour);\n    if( ((mTimestamp-obj.timestamp)/hour)>1  ){\n        arr.push(connection_fail);\n        //console.log('overtime = true');\n    }else{\n        arr.push(connection_ok);\n        //console.log('overtime = false');\n    }\n    //console.log('arr = '+JSON.stringify(arr));\n    return arr;\n}\n\nvar dataString = JSON.stringify(array);\nif(array.length===0){\n    dataString = null;\n}\nmsg.payload = {id:\"change_table\", v: dataString,type: mType}; \n\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":340,"wires":[["543922e2.37951c"]]},{"id":"543922e2.37951c","type":"websocket out","z":"33e2099.ff8c7f6","name":"web socket mobiUI - out","server":"c0df8bf2.57c2d8","client":"","x":815,"y":280,"wires":[]},{"id":"c0df8bf2.57c2d8","type":"websocket-listener","z":"","path":"/ws/tools","wholemsg":"false"}]