.nodered/flows_960193-NB01.json
[{"id":"3ec0f0a5.de38c","type":"tab","label":"Flow 1"},{"id":"de8bcbcf.4b46b8","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service9","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8f490611.5fb918","type":"ui_group","z":"","name":"溫度","tab":"82748b39.d5c7b8","order":1,"disp":true,"width":"6"},{"id":"b6659029.e723e","type":"ui_group","z":"","name":"溼度","tab":"82748b39.d5c7b8","order":2,"disp":true,"width":"6"},{"id":"c26868bc.5a4838","type":"ui_group","z":"","name":"壓力","tab":"82748b39.d5c7b8","order":5,"disp":true,"width":"6"},{"id":"786934d0.7d7d0c","type":"ui_group","z":"","name":"照明","tab":"82748b39.d5c7b8","order":4,"disp":true,"width":"6"},{"id":"e62ca37c.6f2e1","type":"ui_group","z":"","name":"UV","tab":"82748b39.d5c7b8","order":3,"disp":true,"width":"6"},{"id":"c6d4d135.73c1a","type":"ui_group","z":"","name":"雨滴","tab":"82748b39.d5c7b8","order":6,"disp":true,"width":"6"},{"id":"82748b39.d5c7b8","type":"ui_tab","z":"","name":"微型氣象站","icon":"dashboard","order":1},{"id":"2628a91e.328106","type":"function","z":"3ec0f0a5.de38c","name":"same Id check","func":"var payload = JSON.parse(msg.payload);  // for MQTT\n//console.log(\"payload type: \"+typeof(payload ));        //JSON Object\n//console.log(\"msg.payload type: \"+typeof(msg.payload));//Message string\n\nif(!context.global.Ids){\n    context.global.Ids = {};\n}\n\n//Get element\nvar mId   = payload.id;\nvar mData = payload.data;\nvar mType = mData.substring(0,4);\nvar mRecv = payload.recv;\nvar mMac  = payload.macAddr;\n\n\nif(mType === 'aa01' || mType === 'aa02'){\n    var id = '';\n\n    if(context.global.Ids[mType]){\n        id = context.global.Ids[mType];\n    }\n    \n    node.warn('id :'+mId +' , check id :'+id);\n    \n    //Find same id than reject\n    if(id === '' || mId != id){\n        context.global.Ids[mType] = mId;\n    }else{\n        return;\n    }\n    \n    msg.payload = {mac:mMac,data:mData,recv:mRecv,type:mType};\n    node.warn(JSON.stringify(msg.payload));\n    \n    return msg;\n}else{\n    return;\n}\n\n\n","outputs":1,"noerr":0,"x":166,"y":154,"wires":[["984bf81b.7ce0a8"]]},{"id":"a5fc5209.4d405","type":"mqtt in","z":"3ec0f0a5.de38c","name":"MQTT_200000166","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"de8bcbcf.4b46b8","x":154,"y":55,"wires":[["2628a91e.328106","f28aa50f.c3a368"]]},{"id":"f13a24a7.d36428","type":"function","z":"3ec0f0a5.de38c","name":"tempature","func":"\nmsg= {payload:msg.payload.information.temperature};\n\nreturn msg;","outputs":"1","noerr":0,"x":860.9999694824219,"y":326.0000305175781,"wires":[["e6c02a47.6631a8","f1e0f206.4bcda"]]},{"id":"e6c02a47.6631a8","type":"ui_gauge","z":"3ec0f0a5.de38c","name":"溫度表","group":"8f490611.5fb918","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"度","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1069.9999084472656,"y":282,"wires":[]},{"id":"f1e0f206.4bcda","type":"ui_chart","z":"3ec0f0a5.de38c","name":"線性圖","group":"8f490611.5fb918","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1065.9999694824219,"y":321.00001525878906,"wires":[[],[]]},{"id":"71595d0a.9117e4","type":"function","z":"3ec0f0a5.de38c","name":"humidity","func":"\nmsg= {payload:msg.payload.information.humidity};\n\nreturn msg;","outputs":"1","noerr":0,"x":861,"y":440,"wires":[["98cc13c8.791cb","2e0460a1.b49fb"]]},{"id":"2e0460a1.b49fb","type":"ui_gauge","z":"3ec0f0a5.de38c","name":"濕度表","group":"b6659029.e723e","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":1067.9999694824219,"y":397,"wires":[]},{"id":"98cc13c8.791cb","type":"ui_chart","z":"3ec0f0a5.de38c","name":"濕度線性圖","group":"b6659029.e723e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1080,"y":442,"wires":[[],[]]},{"id":"f28aa50f.c3a368","type":"debug","z":"3ec0f0a5.de38c","name":"","active":true,"console":"false","complete":"payload","x":410.9999694824219,"y":55,"wires":[]},{"id":"87c65c64.2a72","type":"function","z":"3ec0f0a5.de38c","name":"presure","func":"\nmsg= {payload:msg.payload.information.pressure};\n\nreturn msg;","outputs":"1","noerr":0,"x":861.895751953125,"y":114.22221374511719,"wires":[["d045d30d.55515","50d4f59a.b8f5ec"]]},{"id":"d49ba782.080a48","type":"function","z":"3ec0f0a5.de38c","name":"light","func":"\nmsg= {payload:msg.payload.information.light};\n\nreturn msg;","outputs":"1","noerr":0,"x":856.895751953125,"y":234.22219848632812,"wires":[["b578cbc7.df4508","18966052.5f54e"]]},{"id":"cbfb98ee.0a75c8","type":"function","z":"3ec0f0a5.de38c","name":"uv","func":"\nmsg= {payload:msg.payload.information.uv};\n\nreturn msg;","outputs":"1","noerr":0,"x":859.3243465423584,"y":568.2222537994385,"wires":[["99d723ec.434db","3fe05483.9f771c"]]},{"id":"7e4a1119.36928","type":"function","z":"3ec0f0a5.de38c","name":"rain","func":"\nmsg= {payload:msg.payload.information.rain};\n\nreturn msg;","outputs":"1","noerr":0,"x":857.7528800964355,"y":701.222188949585,"wires":[["287f1303.31dfdc","428642b4.3a7ddc"]]},{"id":"984bf81b.7ce0a8","type":"switch","z":"3ec0f0a5.de38c","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"aa01","vt":"str"},{"t":"eq","v":"aa02","vt":"str"}],"checkall":"true","outputs":2,"x":219.75,"y":300.15625,"wires":[["f67343b4.5f276"],["4e843023.dbe5c"]]},{"id":"f67343b4.5f276","type":"function","z":"3ec0f0a5.de38c","name":"aa01 parse","func":"\n\nvar payload = msg.payload;\nvar raw = payload.data;\nvar ret = getData(raw);\nnode.warn(\"aa01 parse :\"+ JSON.stringify(ret)); \nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getData(raw) {\n\n    if (raw.length !== 22)  {\n      throw Error('Not a aa01 data');\n    }\n    var mPressure = parseInt(raw.substring(6,10),16);       //氣壓\n    var mHight = parseInt(raw.substring(10,14),16);    　   //高度\n    var mTemperature = parseInt(raw.substring(14,16),16);   //溫度\n    var mHumidity = parseInt(raw.substring(16,18),16);      //濕度\n    var mLight = parseInt(raw.substring(18,22),16);         //照明  \n\n    var ret = {\n        pressure    : mPressure,\n        temperature : mTemperature,\n        humidity    : mHumidity,\n        light       : mLight\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":394.7578125,"y":164.3828125,"wires":[["87c65c64.2a72","d49ba782.080a48","f13a24a7.d36428","71595d0a.9117e4"]]},{"id":"4e843023.dbe5c","type":"function","z":"3ec0f0a5.de38c","name":"aa02 parse","func":"\nvar payload = msg.payload;\nvar raw = payload.data;\nvar ret = getData(raw);\nnode.warn(\"aa02 parse :\"+ JSON.stringify(ret)); \nmsg.payload.information = ret;\n\n\nreturn msg;\n\nfunction getData(raw) {\n\n    if (raw.length !== 14)  {\n      throw Error('Not a aa02 data');\n    }\n\n    var mUV = parseInt(raw.substring(6,10),16);            //紫外線\n    var mRain = 1023-parseInt(raw.substring(10,14),16);         //雨滴\n\n    var ret = {\n        uv    : mUV,\n        rain  : mRain\n    };\n\n    return ret;\n}","outputs":1,"noerr":0,"x":385.364990234375,"y":410.9520263671875,"wires":[["cbfb98ee.0a75c8","7e4a1119.36928"]]},{"id":"d045d30d.55515","type":"ui_gauge","z":"3ec0f0a5.de38c","name":"壓力表","group":"c26868bc.5a4838","order":0,"width":0,"height":0,"gtype":"compass","title":"","label":"mb","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1075.5078048706055,"y":75.5234375,"wires":[]},{"id":"50d4f59a.b8f5ec","type":"ui_chart","z":"3ec0f0a5.de38c","name":"線性圖","group":"c26868bc.5a4838","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"950","ymax":"1100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1069.5078735351562,"y":116.52345275878906,"wires":[[],[]]},{"id":"b578cbc7.df4508","type":"ui_gauge","z":"3ec0f0a5.de38c","name":"照明表","group":"786934d0.7d7d0c","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"x":1071.5078735351562,"y":192.5234375,"wires":[]},{"id":"18966052.5f54e","type":"ui_chart","z":"3ec0f0a5.de38c","name":"照明線性圖","group":"786934d0.7d7d0c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1083.5079040527344,"y":237.5234375,"wires":[[],[]]},{"id":"99d723ec.434db","type":"ui_gauge","z":"3ec0f0a5.de38c","name":"UV表","group":"e62ca37c.6f2e1","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":1075.2291793823242,"y":536.6824932098389,"wires":[]},{"id":"3fe05483.9f771c","type":"ui_chart","z":"3ec0f0a5.de38c","name":"UV線性圖","group":"e62ca37c.6f2e1","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1074.0863189697266,"y":601.3968124389648,"wires":[[],[]]},{"id":"287f1303.31dfdc","type":"ui_gauge","z":"3ec0f0a5.de38c","name":"雨滴表","group":"c6d4d135.73c1a","order":0,"width":0,"height":0,"gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"x":1063.2291870117188,"y":703.111083984375,"wires":[]},{"id":"428642b4.3a7ddc","type":"ui_chart","z":"3ec0f0a5.de38c","name":"雨滴線性圖","group":"c6d4d135.73c1a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":1075.2292175292969,"y":748.111083984375,"wires":[[],[]]}]